.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-task {
  display: flex;
  align-items: center;
}

.btn-add {
  margin-left: 0.5rem;
}

.tasks {
  padding: 0;
  list-style-type: none;
}

.task-list {
  margin-bottom: 1rem;
  text-align: center;
}